
{% extends "base.html" %}
{% block content %}

<style>
  .centered {
  margin-top: 4%;
  height:50%; 
  flex-direction: column; 
  display:flex;
  align-items:center;
  justify-content: center;
  }
  .grid-container { 
  padding: 3%;
  position: absolute;
  bottom: 0;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 40%
  }

  .grid-item { 
  padding: 2%;
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  }


</style>
<body>
<p>Hora d'anàlisi: {{select[5:-4]}}</p>
<div class="centered">
  {% for fila in final_state %}
  <div class = "mt-2">
    {% for item in fila %}
    {% if item == 1 %}
    <button type="button" class="btn btn-lg btn-success"><i class="fa fa-check"></i></button>
    {% elif item == 0 %}
    <button type="button" class="btn btn-lg btn-danger"><i class="fa fa-times"></i></button>
    {% else %}
    <button type="button" class="btn btn-lg btn-info"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</div>

<div>
  <div class="grid-container">
    <div class="grid-item">
      <h2>Buits: {{buits}}</h2>
    </div>
    <div class="grid-item">
      <div class = "mt-2">
        <button type="button" class="btn btn-lg btn-success"><i class="fa fa-check"></i></button> Amb estoc
      </div>
      <div class = "mt-2">
        <button type="button" class="btn btn-lg btn-danger"><i class="fa fa-times"></i></button> Cal reposar
      </div>
      <div class = "mt-2">
        <button type="button" class="btn btn-lg btn-info"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button> Obstacle. Esperi següent anàlisi.
      </div>
    </div>
    <img src= {{"resources/" + select}} alt="No s'ha trobat la foto">
  </div>
</div>
</body>
{% endblock %}